<link rel="stylesheet" href="/static/style.css">

<div class="navbar">Admin Panel</div>

<div class="container">
<div class="card">

<table border="1" width="100%" cellpadding="10">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Complaint</th>
    <th>Reply</th>
</tr>

{% for row in data %}
<tr>
    <td>{{row[1]}}</td>
    <td>{{row[2]}}</td>
    <td>{{row[9]}}</td>
    <td>
        <form action="/reply/{{row[1]}}" method="POST">
            <input name="reply">
            <button>Send</button>
        </form>
    </td>
</tr>
{% endfor %}

</table>

</div>
</div>
</body>
</html>