<!DOCTYPE html>
<html>
<head>
    <title>Women Complaint Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Women Complaint Form</h1>

<form action="/submit" method="POST">
    <input name="name" placeholder="Name" required><br>
    <input name="mobile" placeholder="Mobile" required><br>
    <input name="address" placeholder="Address"><br>
    <input name="unit" placeholder="Unit/Coy"><br>
    <input name="complaint" placeholder="Complaint"><br>
    <input name="email" placeholder="Email"><br>

    <button type="submit">Submit</button>
</form>

<br>
<a href="/view">View Data</a>

</body>
</html>